@model Webvendas.Models.Seller

@{
    ViewData["Title"] = "Delete";
}
<h2>@ViewData["Title"]</h2>

<h3>COnfirma exclusão do vendedor?</h3>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name);
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email);
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate);
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
        <a asp-action="Index" class="btn btn-sm btn-default">Voltar</a>
    </form>
</div>